.login_stat{
    float: right;
    text-align: right;
    margin: 15px auto 20px auto;
    justify-content: flex-end;
    color: #505458;
    width: 300px;
}
.header{
    background: #333;
    height: 53px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.home_and_back {
    float: left;
    margin: 15px auto 20px auto;
}
